.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding: 0 40px;
    color: var(--neon-blue);
    box-sizing: border-box;
}

.home-page #intro, .home-page #products {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 20px;
}

.home-page #intro {
    font-size: 2rem;
}

.home-page .img-welcome {
    box-shadow: 0 0 10px 10px var(--neon-blue);
    border-radius: 100px;
    width: 400px;
}